.card{
    width: 400px;
    background-color: rgb(235, 227, 227);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    float: left;
    color:rgba(20, 18, 18, 0.932);
    font-size: larger;
    font-family:  Arial, sans-serif;
    box-shadow: 10px 5px 5px 5px black;
    border: 8px solid  black;
    height: 450px;

}

.card1{
    border: 10px solid black;
    border-radius: 10px;
}

#tdCard{
    border: 1px solid black;
}

.topo{
    
    
    padding: 5px;
    margin-top: 5px;
    background-color: rgba(199, 94, 94, 0.945);
    width: 450px;
    border-radius: 5px;
    font-style: normal;
    color: rgb(58, 54, 54);
    box-shadow: 1px 1px 1px 1px black;
}

.formulario{
    
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.527);
     width: 800px;
     padding: 10px;
     border-radius: 10px;
     margin-top: 10px;
     background-color: rgba(228, 238, 231, 0.178);
     display: inline-block;

}

.div{
    border: 1px solid black;
 
    display: inline-block;
    width: max-content;
    width: 500px;
    height: 500px;
   

    
} 
.div2{
   
 
    display: inline-block;
    width: max-content;
   

    
} 

body{
    background-image: url(./img/gestão-escolar-1.webp);
    width: 1700px;
    font-family: 'Times New Roman', Times, serif;


}

#formulario2{
   display: none;
   background-color: rgba(0, 0, 0, 0.69);
   margin-top: 50px;
   width: 350px;
   padding: 10px;
   border-radius: 10px;
   color: white;
   height: 450px;

}
#resultado{
   float: right;
    display: none;
    background-color: rgba(0, 0, 0, 0.24);
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 0px;
    color: white;
  margin: 0 auto;
    padding-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    margin-right: 70px;
}


#topoResultado{
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
}
#cad-equip{
    
    width: max-content;
}

#FormularioF{
    background-color: rgba(13, 17, 17, 0.756);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#singlebutton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}

#NavBarTopo{
    
    font-size: x-large;
}

#msg{
    display: none;
}

#botao{
    height: 80px;
    font-size: 15px;
   
    
    
}

#grade{
    display: none;
    margin-top: 20px;
    width: 100%;
}

#cardCentralizado{
   margin-left: 500px;
}

#msg{
    margin: 0 auto;
    width: 30%;
    background-color: rgba(35, 123, 35, 0.617);
    color: white;
    text-align: center;
    border-radius: 10px;
}

#dropdown{
    color: white;
    height: 80px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #383938;
    margin: 10px;
     
}

#dropdown1{
    color: white;
    height: 80px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #080908fb;
    margin: 20px;
    margin-top: 30px;   
    width: 200px;
}

#dropdown2{
    color: white;
    height: 80px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0c0c0cfb;
    margin: 20px;
    margin-top: 50px;

     
}

#NavBarConsulta2{
    margin-top: -70px;
    text-align: center;
    
}

#PBlack{
    background-color: black;
    color: white;
    text-align: center;
   
}

#Ular{
    border-radius: 20px;
    padding: 5px;
    margin: 15px;
}

/* #dropdown1:hover,li {
    background-color: aqua;
    
} */
.nav-item a:hover {
    background-color: rgba(7, 62, 20, 0.998);
    border-radius:7px;
    
    
}

#dropdown1 a:hover {
    background-color: rgba(11, 56, 26, 0.972);
    border-radius:7px;
    
    
}
#dropdown2 a:hover {
    background-color: rgb(11, 10, 10);
    border-radius:7px;
    
    
}

#idadeInput{
    width: 150px;
}

#nomeInput{
    width: 310px;
}

#tipoInput{
    width: 310px;

}

#turmaInput{
    width: 150px;

}

#cursosInput{
    width: 200px;

}

#CAROUSEL img{
    height: min-content;
    
}

#logo{
    height: 90px;
    border-radius: 5px;
    margin: 10px;
}
#carousel1{
    width: 50%;
}

#msg2{
    margin: 0 auto;
    width: 30%;
    margin-top: 10px;
   display: none;
    text-align: center;
    border-radius: 10px;
}

#carouselVideo{
    margin-left: 300px;
    border-radius: 10px;
    width: 500px;
    height: 500px;

}


#calendario{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -25px;
